<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google.">
    <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template, eCommerce dashboard, analytic dashboard">
    <meta name="author" content="ThemeSelect">
    <link rel="apple-touch-icon" href="<%= BASE_URL %>app-assets/images/favicon/apple-touch-icon-152x152.png">
    <link rel="shortcut icon" type="image/x-icon" href="<%= BASE_URL %>app-assets/images/favicon/favicon-32x32.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- BEGIN: VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>app-assets/vendors/vendors.min.css">
    <!-- END: VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>app-assets/css-rtl/style-rtl.css">
    <!-- BEGIN: Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>app-assets/css-rtl/themes/vertical-modern-menu-template/materialize.css">
    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>app-assets/css-rtl/themes/vertical-modern-menu-template/style.css">
    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>app-assets/css-rtl/pages/register.css">
    <!-- END: Page Level CSS-->
    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>app-assets/css-rtl/custom/custom.css">
    <!-- END: Custom CSS-->
    <title>adminedit</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but adminedit doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
<script src="<%= BASE_URL %>app-assets/js/vendors.min.js"></script>
<script src="<%= BASE_URL %>app-assets/js/plugins.js"></script>
<script src="<%= BASE_URL %>app-assets/js/search.js"></script>
<script src="<%= BASE_URL %>app-assets/js/custom/custom-script.js"></script>
  </body>
</html>
