<template>
  
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-sm-1">
          <div class="offset-sm-1">
          <div class="jumbotron">
            <h1>use this rich text editor to make your blog</h1>
            <div class="input-box">
            <texteditor/>
            </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</template>
<script>
import texteditor from '@/components/texteditor.vue'

export default {
  name: 'home',
  components: {
    texteditor
  }
}
</script>
<style lang="scss">
.input-box{
    width: 100%;
    padding: 18px 18px;
    font-size: 18px;
    margin-bottom: 16px;

    &:focus{
        outline: 0;
    }
.container {
  max-width: 50%;
  margin:0 auto;
}
}

</style>