<template>
  <div >
    <loginComponent/>
  </div>
</template>

<script>
// @ is an alias to /src
import loginComponent from '../components/Login.vue'

export default {
  name: 'home',
  components: {
    loginComponent
  }
}
</script>