<template>
    <div>
        <quill-editor class="text-input" :config="editorOption"></quill-editor>
    </div>
</template>
<script>
import { quillEditor } from 'vue-quill-editor'
export default {    
    name: 'texteditor',
    components:{
        quillEditor,
    },
    data (){
        return{
            editorOption: {}
        }
    }
}

</script>